@tailwind base;
@tailwind components;
@tailwind utilities;

.maxheightscroll-preference {
    max-height: calc(100vh - 160px);
}

.maxheightscroll {
    max-height: calc(100vh - 48px);
}

.minHeightContentMobile {
    min-height: calc(100vh - 54px);
}

body {
    margin: 0;
    padding: 0;
}